:root {
  --standard-btn-bg-color: rgb(200, 202, 204);
  --clear-btn-bg-color: rgb(224, 66, 66);
  --equals-btn-bg-color: rgb(40, 170, 245);
  --calculator-bg-color: rgb(207, 211, 214);

  --dark-standard-btn-bg-color: rgb(157, 157, 158);
  --dark-clear-btn-bg-color: rgb(209, 95, 1);
  --dark-equals-btn-bg-color: rgb(77, 77, 77);
  --dark-calculator-bg-color: rgb(117, 117, 117);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
}

button {
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  padding: 50px 10px;
}

.dark-mode {
  --standard-btn-bg-color: var(--dark-standard-btn-bg-color);
  --clear-btn-bg-color: var(--dark-clear-btn-bg-color);
  --equals-btn-bg-color: var(--dark-equals-btn-bg-color);
  --calculator-bg-color: var(--dark-calculator-bg-color);
}

.toggle-mode {
  align-self: flex-end;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 5px;
  padding: 2px;
}

.toggle-mode:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.btn-standard {
  background-color: var(--standard-btn-bg-color);
  box-shadow: 1px 1px 1px 1;
  width: 45px;
  height: 45px;
}

.btn-large-horizontal {
  background-color: var(--standard-btn-bg-color);
  width: 90px;
  height: 45px;
}

.btn-large-vertical {
  width: 45px;
  height: 90px;
}

#calculator {
  align-items: center;
  background-color: var(--calculator-bg-color);
  border-radius: 10px;
  box-shadow: 1px 1px 8px 1px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  width: 250px;
}

#calc-display {
  background-color: rgb(238, 238, 238);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px;
  height: 100px;
  width: 240px;
}

#calc-buttons {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 240px;
}

#numpad {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 1;
  height: 300px;
  width: 140px;
  align-content: flex-start;
}

#operations {
  display: flex;
  flex-direction: column;
  width: 50px;
}

#extras {
  display: flex;
  flex-direction: column;
}

#btn-clear {
  background-color: var(--clear-btn-bg-color);
  color: rgb(226, 224, 224);
}

#btn-equals {
  background-color: var(--equals-btn-bg-color);
  color: rgb(226, 224, 224);
}
